# dependencies
/node_modules

# next.js
/.next/
/out/

# env files
.env
.env.local
.env*.local

# misc
.DS_Store
.claude/

# prisma
prisma/dev.db
prisma/dev.db-journal

# typescript
*.tsbuildinfo
next-env.d.ts
